!!!
html
  head
    title Gunnerkrigg Court
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width = device-width, initial-scale = 1.02')
    script(type='text/javascript', src='/jQuery-1.7.2.js')
    script(type='text/javascript', src='/jquery.touchSwipe.js')
    script(type='text/javascript', src='/site.js')
    link(rel='stylesheet', type='text/css', href='/style.css')
  body
    != body
